
.app--container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1800px;
}

.app--logo {
    width: 1800px;
    display: flex;
    align-items: center;
    justify-content: center;
}